 * {
     margin: 0;
     padding: 0;
 }

 header {
      width: 100%;
    height: 120px;
      margin: 30 auto;
      background-color: rgb(153, 0, 255);
      color: white;
  }
 footer {
     width: 100%;
     height: 50px;
     background-color: rgb(153, 0, 255);
     color: white;
 }

 h1 {
     text-align: center;
     font-size: 30px;
 }

 h2 {
     text-align: center;
     font-size: 16px;

 }

 img {
     display: block;
     height: 50px;
     width: 50px;
     margin-left: auto;
     margin-right: auto;
 }

 ul {
     padding-left: 40px;
     font-size: 20px;
 }

 p {
     text-align: center;
     font-size: 30px;
 }

 .card {
     width: 80%;
     margin: 5px auto;
     border: 5px solid gray;
     box-shadow: 5px 10px #888888;
 }

.checbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: red;
    margin-right: 10px;
}   

#javascript-section input[type="checkbox"] {
    height: 30px;
    width: 30px;
    background-color: #842222;
}

#javascript-section input[type="checkbox"]:checked {
    background-color: #11d667;
}

#javascript-section input[type="checkbox"]:checked + label {
    text-decoration: line-through;
    color: #11d667;
}

#javascript-section input[type="checkbox"] + label {
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    cursor: pointer;
    position: relative;
    top: -8px;  
}   

#html-section input[type="checkbox"] {
    height: 30px;
    width: 30px;
    background-color: #842222;
}

#html-section input[type="checkbox"]:checked {
    background-color: #11d667;
}

#html-section input[type="checkbox"]:checked+label {
    text-decoration: line-through;
    color: #11d667;
}

#html-section input[type="checkbox"]+label {
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    cursor: pointer;
    position: relative;
    top: -8px;
}

#css-section input[type="checkbox"] {
    height: 30px;
    width: 30px;
    background-color: #842222;
}

#css-section input[type="checkbox"]:checked {
    background-color: #11d667;
}

#css-section input[type="checkbox"]:checked+label {
    text-decoration: line-through;
    color: #11d667;
}

#css-section input[type="checkbox"]+label {
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    cursor: pointer;
    position: relative;
    top: -8px;
}

#git-section input[type="checkbox"] {
    height: 30px;
    width: 30px;
    background-color: #842222;
}

#git-section input[type="checkbox"]:checked {
    background-color: #11d667;
}

#git-section input[type="checkbox"]:checked+label {
    text-decoration: line-through;
    color: #11d667;
}

#git-section input[type="checkbox"]+label {
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    cursor: pointer;
    position: relative;
    top: -8px;
}

.submit {
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.submit button {
  background-color: rgb(238, 18, 18);
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 10px 10px;
  border: none;
  border-radius: 12px;
  cursor: pointer; 
  font-size: 16px;
}

.submit button:hover {
  background-color: rgb(107, 220, 75); 
}

p.special {
font-style: italic;
color: rgb(255, 0, 0);
font-size: 14px;
}

p.foot {
    font-style: italic;
    font-size: 14px;
}